# Activity: Validate and clean your data

## Introduction

In this activity, you will use input validation and label encoding to prepare a dataset for analysis. These are fundamental techniques used in all types of data analysis, from simple linear regression to complex neural networks. 

In this activity, you are a data professional an investment firm that is attempting to invest in private companies with a valuation of at least $1 billion. These are often known as "unicorns." Your client wants to develop a better understanding of unicorns, with the hope they can be early investors in future highly successful companies. They are particularly interested in the investment strategies of the three top unicorn investors: Sequoia Capital, Tiger Global Management, and Accel.

## Step 1: Imports

Import relevant Python libraries and packages: `numpy`, `pandas`, `seaborn`, and `pyplot` from `matplotlib`.

In [1]:
# Import libraries and packages.

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbn

### Load the dataset

The data contains details about unicorn companies, such as when they were founded, when they achieved unicorn status, and their current valuation. The dataset `Modified_Unicorn_Companies.csv` is loaded as `companies`, now display the first five rows. The variables in the dataset have been adjusted to suit the objectives of this lab, so they may be different from similar data used in prior labs. As shown in this cell, the dataset has been automatically loaded in for you. You do not need to download the .csv file, or provide more code, in order to access the dataset and proceed with this lab. Please continue with this activity by completing the following instructions.

In [2]:
# Run this cell so pandas displays all columns
pd.set_option('display.max_columns', None)

In [3]:
# RUN THIS CELL TO IMPORT YOUR DATA. 
companies = pd.read_csv('Modified_Unicorn_Companies.csv')

# Display the first five rows.
companies.head()

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors
0,Bytedance,180,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,100,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95,2014-01-23,FinTech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,46,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."

## Step 2: Data cleaning

Begin by displaying the data types of the columns in `companies`.

In [4]:
# Display the data types of the columns.

companies.dtypes

Company             object
Valuation            int64
Date Joined         object
Industry            object
City                object
Country/Region      object
Continent           object
Year Founded         int64
Funding             object
Select Investors    object
dtype: object

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Review what you have learned about exploratory data analysis in Python.

</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

There is a `pandas` DataFrame property that displays the data types of the columns in the specified DataFrame.
 

</details>

<details>
  <summary><h4><strong>Hint 3</strong></h4></summary>

  The `pandas` DataFrame `dtypes` property will be helpful.

</details>

### Modify the data types

Notice that the data type of the `Date Joined` column is an `object`&mdash;in this case, a string. Convert this column to `datetime` to make it more usable.

In [5]:
# Apply necessary datatype conversions.

companies['Date Joined'] = pd.to_datetime(companies['Date Joined'])

#check companies data types
companies.dtypes

Company                     object
Valuation                    int64
Date Joined         datetime64[ns]
Industry                    object
City                        object
Country/Region              object
Continent                   object
Year Founded                 int64
Funding                     object
Select Investors            object
dtype: object

### Create a new column

Add a column called `Years To Unicorn`, which is the number of years between when the company was founded and when it became a unicorn.

In [6]:
# Create the column Years To Unicorn.

companies['Year Joined'] = companies['Date Joined'].dt.year
companies['Years To Unicorn'] = companies['Year Joined']-companies['Year Founded']
companies.head()

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors,Year Joined,Years To Unicorn
0,Bytedance,180,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S...",2017,5
1,SpaceX,100,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012,10
2,SHEIN,100,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China...",2018,10
3,Stripe,95,2014-01-23,FinTech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG",2014,4
4,Klarna,46,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita...",2011,6

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Extract just the year from the `Date Joined` column. 

</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

  Use `dt.year` to access the year of a datetime object.

</details>

<details>
  <summary><h4><strong>Hint 3</strong></h4></summary>

Subtract the `Year Founded` from the `Date Joined`, and save it to a new column called `Years To Unicorn`.
  
Ensure you're properly extracting just the year (as an integer) from `Date Joined`.

</details>

**QUESTION: Why might your client be interested in how quickly a company achieved unicorn status?**

- Yes, the client might be interested in this data, because they could find the industry when the companies works

### Input validation

The data has some issues with bad data, duplicate rows, and inconsistent `Industry` labels.

Identify and correct each of these issues.

#### Correcting bad data

Get descriptive statistics for the `Years To Unicorn` column.

In [7]:
# Identify and correct the issue with Years To Unicorn.

companies['Years To Unicorn'].describe()

count    1074.000000
mean        7.013035
std         5.331842
min        -3.000000
25%         4.000000
50%         6.000000
75%         9.000000
max        98.000000
Name: Years To Unicorn, dtype: float64

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Use the `describe()` method on the series. Considering the results, does anything seem problematic?

</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

A company cannot reach unicorn status before it is founded. In other words, `Years to Unicorn` cannot be less than 0.

</details>

<details>
  <summary><h4><strong>Hint 3</strong></h4></summary>

Using the `describe()` method on the `Years To Unicorn` series shows that the minimum value is `-3`. Since there cannot be negative time, this value and possibly others are problematic.

</details>

Isolate all rows where the `Years To Unicorn` column contains a negative value.

In [8]:
# Isolate any rows where `Years To Unicorn` is negative- 

companies[companies['Years To Unicorn']<0]

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors,Year Joined,Years To Unicorn
527,InVision,2,2017-11-01,Internet software & services,New York,United States,North America,2020,$349M,"FirstMark Capital, Tiger Global Management, IC...",2017,-3

**Question: How many rows have negative values in the `Years To Unicorn` column, and what companies are they for?**

- the Data set companies show that row of InVision company is the only with negatives Years To Unicorn, we must finding out in the internet the Year Founded by this company, and replace it in our data set

An internet search reveals that InVision was founded in 2011. Replace the value at `Year Founded` with `2011` for InVision's row.

In [9]:
# Replace InVision's `Year Founded` value with 2011

companies.loc[companies['Company']=='InVision', 'Year Founded'] = 2011

# Verify the change was made properly

companies[companies['Company']=='InVision']

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors,Year Joined,Years To Unicorn
527,InVision,2,2017-11-01,Internet software & services,New York,United States,North America,2011,$349M,"FirstMark Capital, Tiger Global Management, IC...",2017,-3

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

To overwrite data in a dataframe in a situation like this, you should use `loc[]` or `iloc[]` selection statements. Otherwise, you might overwrite to a view of the dataframe, which means that you're not overwriting the data in the dataframe itself, and the change will not take permanent effect.

</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

The following code will **not** work:
    
    companies[companies['Company']=='InVision']['Year Founded'] = 2011
    
You must use either `loc[]` or `iloc[]`.

</details>

Now, recalculate all the values in the `Years To Unicorn` column to remove the negative value for InVision. Verify that there are no more negative values afterwards.

In [10]:
# Recalculate all values in the `Years To Unicorn` column

companies['Years To Unicorn'] = companies['Year Joined']-companies['Year Founded']

# Verify that there are no more negative values in the column

companies['Years To Unicorn'].describe()

count    1074.000000
mean        7.021415
std         5.323155
min         0.000000
25%         4.000000
50%         6.000000
75%         9.000000
max        98.000000
Name: Years To Unicorn, dtype: float64

#### Issues with `Industry` labels

The company provided you with the following list of industry labels to identify in the data for `Industry`. 

**Note:** Any labels in the `Industry` column that are not in `industry_list` are misspellings.

In [11]:
# List provided by the company of the expected industry labels in the data
industry_list = ['Artificial intelligence', 'Other','E-commerce & direct-to-consumer', 'Fintech',\
       'Internet software & services','Supply chain, logistics, & delivery', 'Consumer & retail',\
       'Data management & analytics', 'Edtech', 'Health', 'Hardware','Auto & transportation', \
        'Travel', 'Cybersecurity','Mobile & telecommunications']

First, check if there are values in the `Industry` column that are not in `industry_list`. If so, what are they?

In [12]:
# Check which values are in `Industry` but not in `industry_list`

set(companies['Industry'])-set(industry_list)

{'Artificial Intelligence', 'Data management and analytics', 'FinTech'}

<details>
  <summary><h4><strong>HINT 1</strong></h4></summary>

There are many ways to do this. One approach is to consider what data type reduces iterable sequences to their unique elements and allows you to compare membership.

</details>

<details>
  <summary><h4><strong>HINT 2</strong></h4></summary>

A set is a data type that consists of unique elements and supports membership testing with other sets.

</details>

<details>
  <summary><h4><strong>HINT 3</strong></h4></summary>

Set A &ndash; Set B will result in all the elements that are in Set A but not in Set B. Convert `industry_list` to a set and subtract it from the set of the values in the `Industry` series.

</details>

**Question: Which values currently exist in the `Industry` column that are not in `industry_list`?**

[Write your response here. Double-click (or enter) to edit.]

Now, correct the bad entries in the `Industry` column by replacing them with an approved string from `industry_list`. To do this, use the [`replace()`](https://pandas.pydata.org/docs/reference/api/pandas.Series.replace.html) `Series` method on the `Industry` series. When you pass a dictionary to the method, it will replace the data in the series where that data matches the dictionary's keys. The values that get imputed are the values of the dictionary. If a value is not specified in the dictionary, the series' original value is retained.
</br></br>


```
Example:

 [IN]: column_a = pd.Series(['A', 'B', 'C', 'D'])
       column_a

[OUT]: 0    A
       1    B
       2    C
       3    D
       dtype: object

 [IN]: replacement_dict = {'A':'z', 'B':'y', 'C':'x'}
       column_a = column_a.replace(replacement_dict)
       column_a
       
[OUT]: 0    z
       1    y
       2    x
       3    D
       dtype: object

```

1. Create a dictionary called `replacement_dict` whose keys are the incorrect spellings in the `Industry` series and whose values are the correct spelling, as indicated in `industry_list`.

2. Call the `replace()` method on the `Industry` series and pass to it `replacement_dict` as its argument. Reassign the result back to the `Industry` column.

3. Verify that there are no longer any elements in `Industry` that are not in `industry_list`.

In [13]:
# 1. Create `replacement_dict`

replacement_dict = {'Artificial Intelligence': 'Artificial intelligence',
                   'Data management and analytics': 'Data management & analytics',
                   'FinTech': 'Fintech'
                   }

# 2. Replace the incorrect values in the `Industry` column

companies['Industry'] = companies['Industry'].replace(replacement_dict)

# 3. Verify that there are no longer any elements in `Industry` that are not in `industry_list`

set(companies['Industry']) - set(industry_list)

set()

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Refer to the example provided for how to use the `replace()` `Series` method.
    
</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

When you define the `replacement_dict` dictionary, the misspellings should be the keys and the correct spellings should be the values.

</details>

<details>
  <summary><h4><strong>Hint 3</strong></h4></summary>   

When you call `replace()` on the `Industry` series and pass to it the `replacement_dict` dictionary as an argument, you must reassign the result back to `companies['Industry']` for the change to take effect.   
    
</details>

#### Handling duplicate rows

The business mentioned that no company should appear in the data more than once.

Verify that this is indeed the case, and if not, clean the data so each company appears only once.

Begin by checking which, if any, companies are duplicated. Filter the data to return all occurrences of those duplicated companies.

In [14]:
# Isolate rows of all companies that have duplicates

companies[companies.duplicated(subset=['Company'], keep=False)]

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors,Year Joined,Years To Unicorn
385,BrewDog,2,2017-04-10,Consumer & retail,Aberdeen,United Kingdom,Europe,2007,$233M,"TSG Consumer Partners, Crowdcube",2017,10
386,BrewDog,2,2017-04-10,Consumer & retail,Aberdeen,UnitedKingdom,Europe,2007,$233M,TSG Consumer Partners,2017,10
510,ZocDoc,2,2015-08-20,Health,New York,United States,North America,2007,$374M,"Founders Fund, Khosla Ventures, Goldman Sachs",2015,8
511,ZocDoc,2,2015-08-20,Health,NaN,United States,North America,2007,$374M,Founders Fund,2015,8
1031,SoundHound,1,2018-05-03,Artificial intelligence,Santa Clara,United States,North America,2005,$215M,"Tencent Holdings, Walden Venture Capital, Glob...",2018,13
1032,SoundHound,1,2018-05-03,Other,Santa Clara,United States,North America,2005,$215M,Tencent Holdings,2018,13

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Check for duplicated values specifically in the `Company` column, not entire rows that are duplicated. 
    
</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

The pandas [`duplicated()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html#pandas.DataFrame.duplicated) `DataFrame` method can indentify duplicated rows. Apply it to the `Company` column in `companies` to find which companies appear more than once.
    
</details>

<details>
  <summary><h4><strong>Hint 3</strong></h4></summary>

* To specify that you want to check for duplicates only in the `Company` column, indicate this with the `subset` parameter.
* To return _all_ occurrences of duplicates, set the `keep` parameter to `False`. 
    
</details>

**Question: Do these duplicated companies seem like legitimate data points, or are they problematic data?**

- The duplicated companies are not legitimate because they are clearly not different companies with the same name. They are the same company represented twice with minor variation.

Keep the first occurrence of each duplicate company and drop the subsequent rows that are copies.

In [15]:
# Drop rows of duplicate companies after their first occurrence

companies = companies.drop_duplicates(subset=['Company'], keep='first')

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Use the [`drop_duplicates()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html) `DataFrame` method. 
    
</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

Make sure to subset `Company` and reassign the results back to the `companies` dataframe for the changes to take effect.
    
</details>

**Question: Why is it important to perform input validation?**

- Input validation is an essential practice for ensuring data is complete, error-free, and high quality. A low-quality dataset may lend itself to an analysis that is incorrect or misleading.

**Question: What steps did you take to perform input validation for this dataset?**

- Drop Duplicates
- Fixing incorrect values
- Correcting inconsistencies in the data
- Enhancing the quality data

### Convert numerical data to categorical data

Sometimes, you'll want to simplify a numeric column by converting it to a categorical column. To do this, one common approach is to break the range of possible values into a defined number of equally sized bins and assign each bin a name. In the next step, you'll practice this process.

#### Create a `High Valuation` column

The data in the `Valuation` column represents how much money (in billions, USD) each company is valued at. Use the `Valuation` column to create a new column called `High Valuation`. For each company, the value in this column should be `low` if the company is in the bottom 50% of company valuations and `high` if the company is in the top 50%.

In [16]:
# Create new `High Valuation` column
# Use qcut to divide Valuation into 'high' and 'low' Valuation groups
companies['High Valuation'] = pd.qcut(companies['Valuation'], 2, labels = ['low', 'high'])
companies

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors,Year Joined,Years To Unicorn,High Valuation
0,Bytedance,180,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S...",2017,5,high
1,SpaceX,100,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012,10,high
2,SHEIN,100,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China...",2018,10,high
3,Stripe,95,2014-01-23,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG",2014,4,high
4,Klarna,46,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita...",2011,6,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1,2017-06-29,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,$379M,"K2 Ventures, Matrix Partners China, IDG Capital",2017,5,low
1070,Zhuan Zhuan,1,2017-04-18,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,$990M,"58.com, Tencent Holdings",2017,2,low
1071,Zihaiguo,1,2021-05-06,Consumer & retail,Chongqing,China,Asia,2018,$80M,"Xingwang Investment Management, China Capital ...",2021,3,low
1072,Zopa,1,2021-10-19,Fintech,London,United Kingdom,Europe,2005,$792M,"IAG Capital Partners, Augmentum Fintech, North...",2021,16,low
1073,Zwift,1,2020-09-16,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,$620M,"Novator Partners, True, Causeway Media Partners",2020,6,low

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

There are multiple ways to complete this task. Review what you've learned about organizing data into equal quantiles.
    
</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

Consider using the pandas [`qcut()`](https://pandas.pydata.org/docs/reference/api/pandas.qcut.html) function. 
    
</details>

<details>
  <summary><h4><strong>Hint 3</strong></h4></summary>

Use `pandas` `qcut()` to divide the data into two equal-sized quantile buckets. Use the `labels` parameter to define the output labels. The values you give for `labels` will be the values that are inserted into the new column. 
    
</details>

### Convert categorical data to numerical data

Three common methods for changing categorical data to numerical are:

1. Label encoding: order matters (ordinal numeric labels)
2. Label encoding: order doesn't matter (nominal numeric labels)
3. Dummy encoding: order doesn't matter (creation of binary columns for each possible category contained in the variable)

The decision on which method to use depends on the context and must be made on a case-to-case basis. However, a distinction is typically made between categorical variables with equal weight given to all possible categories vs. variables with a hierarchical structure of importance to their possible categories.  

For example, a variable called `subject` might have possible values of `history`, `mathematics`, `literature`. In this case, each subject might be **nominal**&mdash;given the same level of importance. However, you might have another variable called `class`, whose possible values are `freshman`, `sophomore`, `junior`, `senior`. In this case, the class variable is **ordinal**&mdash;its values have an ordered, hierarchical structure of importance. 

Machine learning models typically need all data to be numeric, and they generally use ordinal label encoding (method 1) and dummy encoding (method 3). 

In the next steps, you'll convert the following variables: `Continent`, `Country/Region`, and `Industry`, each using a different approach.

### Convert `Continent` to numeric

For the purposes of this exercise, suppose that the investment group has specified that they want to give more weight to continents with fewer unicorn companies because they believe this could indicate unrealized market potential.

**Question: Which type of variable would this make the `Continent` variable in terms of how it would be converted to a numeric data type?**

- This would make Continent an ordinal variable, since more importance is placed on continents with fewer unicorn companies. There is a hierarchy of importance.

Rank the continents in descending order from the greatest number of unicorn companies to the least.

In [17]:
# Rank the continents by number of unicorn companies

companies['Continent'].value_counts()

Continent
North America    586
Asia             310
Europe           143
South America     21
Oceania            8
Africa             3
Name: count, dtype: int64

<details>
  <summary><h4><strong>Hint</strong></h4></summary>

Use the `value_counts()` method on the `Continent` series.
    
</details>

Now, create a new column called `Continent Number` that represents the `Continent` column converted to numeric in the order of their number of unicorn companies, where North America is encoded as `1`, through Africa, encoded as `6`.

In [18]:
# Create numeric `Continent Number` column

continent_dict = {'North America': 1,
                 'Asia': 2,
                 'Europe': 3,
                 'South America': 4,
                 'Oceania': 5,
                 'Africa': 6
                 }

companies['Continent Number'] = companies['Continent'].replace(continent_dict)

companies.head()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_10304\1140285640.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  companies['Continent Number'] = companies['Continent'].replace(continent_dict)

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors,Year Joined,Years To Unicorn,High Valuation,Continent Number
0,Bytedance,180,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S...",2017,5,high,2
1,SpaceX,100,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012,10,high,1
2,SHEIN,100,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China...",2018,10,high,2
3,Stripe,95,2014-01-23,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG",2014,4,high,1
4,Klarna,46,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita...",2011,6,high,3

<details>
  <summary><h4><strong>Hint </strong></h4></summary>

Create a mapping dictionary and use the `replace()` method on the `Category` column. Refer to the example provided above for more information about `replace()`.
    
</details>

### Convert `Country/Region` to numeric

Now, suppose that within a given continent, each company's `Country/Region` is given equal importance. For analytical purposes, you want to convert the values in this column to numeric without creating a large number of dummy columns. Use label encoding of this nominal categorical variable to create a new column called `Country/Region Numeric`, wherein each unique `Country/Region` is assigned its own number.

In [19]:
# Create `Country/Region Numeric` column
# Create numeric categories for Country/Region

companies['Country/Region Numeric'] = companies['Country/Region'].astype('category').cat.codes

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Review what you have learned about converting a variable with a string/object data type to a category.
    
</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

To use label encoding, apply `.astype('category').cat.codes` to the `Country/Region` in `companies`.
    
</details>

### Convert `Industry` to numeric

Finally, create dummy variables for the values in the `Industry` column.

In [20]:
# Convert `Industry` to numeric data
# Create dummy variables with Industry values

industry_encoded = pd.get_dummies(companies['Industry'])

# Combine `companies` DataFrame with new dummy Industry columns
companies = pd.concat([companies, industry_encoded], axis=1)

Display the first few rows of `companies`

In [21]:
companies.head(50)

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors,Year Joined,Years To Unicorn,High Valuation,Continent Number,Country/Region Numeric,Artificial intelligence,Auto & transportation,Consumer & retail,Cybersecurity,Data management & analytics,E-commerce & direct-to-consumer,Edtech,Fintech,Hardware,Health,Internet software & services,Mobile & telecommunications,Other,"Supply chain, logistics, & delivery",Travel
0,Bytedance,180,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S...",2017,5,high,2,9,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,SpaceX,100,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012,10,high,1,44,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
2,SHEIN,100,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China...",2018,10,high,2,9,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
3,Stripe,95,2014-01-23,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG",2014,4,high,1,44,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
4,Klarna,46,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita...",2011,6,high,3,38,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
5,Canva,40,2018-01-08,Internet software & services,Surry Hills,Australia,Oceania,2012,$572M,"Sequoia Capital China, Blackbird Ventures, Mat...",2018,6,high,5,1,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
6,Checkout.com,40,2019-05-02,Fintech,London,United Kingdom,Europe,2012,$2B,"Tiger Global Management, Insight Partners, DST...",2019,7,high,3,43,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
7,Instacart,39,2014-12-30,"Supply chain, logistics, & delivery",San Francisco,United States,North America,2012,$3B,"Khosla Ventures, Kleiner Perkins Caufield & By...",2014,2,high,1,44,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
8,JUUL Labs,38,2017-12-20,Consumer & retail,San Francisco,United States,North America,2015,$14B,Tiger Global Management,2017,2,high,1,44,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
9,Databricks,38,2019-02-05,Data management & analytics,San Francisco,United States,North America,2013,$3B,"Andreessen Horowitz, New Enterprise Associates...",2019,6,high,1,44,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
10,Revolut,33,2018-04-26,Fintech,London,United Kingdom,Europe,2015,$2B,"index Ventures, DST Global, Ribbit Capital",2018,3,high,3,43,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
11,Epic Games,32,2018-10-26,Other,Cary,United States,North America,1991,$7B,"Tencent Holdings, KKR, Smash Ventures",2018,27,high,1,44,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
12,FTX,32,2021-07-20,Fintech,NaN,Bahamas,North America,2018,$2B,"Sequoia Capital, Thoma Bravo, Softbank",2021,3,high,1,3,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
13,Fanatics,27,2012-06-06,E-commerce & direct-to-consumer,Jacksonville,United States,North America,2002,$4B,"SoftBank Group, Andreessen Horowitz, Temasek H...",2012,10,high,1,44,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
14,Chime,25,2019-03-05,Fintech,San Francisco,United States,North America,2013,$2B,"Forerunner Ventures, Crosslink Capital, Homebrew",2019,6,high,1,44,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
15,BYJU's,22,2017-07-25,Edtech,Bengaluru,India,Asia,2008,$4B,"Tencent Holdings, Lightspeed India Partners, S...",2017,9,high,2,19,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
16,J&T Express,20,2021-04-07,"Supply chain, logistics, & delivery",Jakarta,Indonesia,Asia,2015,$5B,"Hillhouse Capital Management, Boyu Capital, Se...",2021,6,high,2,20,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
17,Xiaohongshu,20,2016-03-31,E-commerce & direct-to-consumer,Shanghai,China,Asia,2013,$918M,"GGV Capital, ZhenFund, Tencent",2016,3,high,2,9,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
18,Miro,18,2022-01-05,Internet software & services,San Francisco,United States,North America,2011,$476M,"Accel, AltaIR Capital, Technology Crossover Ve...",2022,11,high,1,44,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
19,Yuanfudao,17,2017-05-31,Edtech,Beijing,China,Asia,2012,$4B,"Tencent Holdings, Warbug Pincus, IDG Capital",2017,5,high,2,9,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
20,Rapyd,15,2019-12-03,Fintech,London,United Kingdom,Europe,2016,$770M,"Target Global, General Catalyst, Durable Capit...",2019,3,high,3,43,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
21,Discord,15,2018-04-20,Internet software & services,San Francisco,United States,North America,2012,$979M,"Benchmark, Greylock Partners, Tencent Holdings",2018,6,high,1,44,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
22,Genki Forest,15,2020-03-01,Consumer & retail,Beijing,China,Asia,2016,$721M,"Sequoia Capital China, Longfor Capitalm, Gaoro...",2020,4,high,2,9,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
23,goPuff,15,2020-10-08,E-commerce & direct-to-consumer,Philadelphia,United States,North America,2013,$3B,"Accel, Softbank Group, Anthos Capital",2020,7,high,1,44,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
24,Blockchain.com,14,2021-02-17,Fintech,London,United Kingdom,Europe,2011,$490M,"Lightspeed Venture Partners, Google Ventures, ...",2021,10,high,3,43,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
25,Plaid,13,2018-12-11,Fintech,San Francisco,United States,North America,2012,$734M,"New Enterprise Associates, Spar Capital, Index...",2018,6,high,1,44,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
26,Devoted Health,13,2018-10-16,Health,Waltham,United States,North America,2017,$2B,"Andreessen Horowitz, F-Prime Capital, Venrock",2018,1,high,1,44,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
27,OpenSea,13,2021-07-20,E-commerce & direct-to-consumer,New York,United States,North America,2017,$427M,"Andreessen Horowitz, Thirty Five Ventures, Sou...",2021,4,high,1,44,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
28,Grammarly,13,2019-10-10,Internet software & services,San Francisco,United States,North America,2009,$400M,"General Catalyst, Institutional Venture Partne...",2019,10,high,1,44,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
29,Argo AI,12,2019-07-12,Artificial intelligence,Pittsburgh,United States,North America,2016,$4B,"Volkswagen Group, Ford Autonomous Vehicles",2019,3,high,1,44,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
30,Northvolt,12,2019-06-12,Other,Stockholm,Sweden,Europe,2016,$4B,"Vattenfall, Volkswagen Group, Goldman Sachs",2019,3,high,3,38,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
31,Faire,12,2019-10-30,Artificial intelligence,San Francisco,United States,North America,2017,$1B,"Khosla Ventures, Forerunner Ventures, Sequoia ...",2019,2,high,1,44,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32,Airtable,12,2018-11-15,Internet software & services,San Francisco,United States,North America,2013,$1B,"Caffeinated Capital, CRV, Founder Collective",2018,5,high,1,44,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
33,Brex,12,2018-10-05,Fintech,San Francisco,United States,North America,2017,$1B,"DST Global, Ribbit Capital, Greenoaks Capital ...",2018,1,high,1,44,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
34,Getir,12,2021-03-26,E-commerce & direct-to-consumer,Istanbul,Turkey,Europe,2015,$2B,"Tiger Global Management, Sequoia Capital, Revo...",2021,6,high,3,41,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
35,Biosplice Therapeutics,12,2018-08-06,Health,San Diego,United States,North America,2008,$799M,"Vickers Venture Partners, IKEA GreenTech",2018,10,high,1,44,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
36,Bitmain,12,2018-07-06,Hardware,Beijing,China,Asia,2015,$765M,"Coatue Management, Sequoia Capital China, IDG ...",2018,3,high,2,9,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
37,GoodLeap,12,2021-10-13,Internet software & services,Roseville,United States,North America,2003,$800M,"New Enterprise Associates, BDT Capital Partner...",2021,18,high,1,44,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
38,Xingsheng Selected,12,2020-07-22,E-commerce & direct-to-consumer,Changsha,China,Asia,2009,$5B,"KKR, Tencent Holdings, Sequoia Capital China",2020,11,high,2,9,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
39,ZongMu Technology,11,2021-06-03,Auto & transportation,Shanghai,China,Asia,2013,$376M,"LTW Capital, Legend Capital, Qualcomm Ventures",2021,8,high,2,9,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
40,Bolt,11,2018-05-29,Auto & transportation,Tallinn,Estonia,Europe,2013,$1B,"Didi Chuxing, Diamler, TMT Investments",2018,5,high,3,14,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
41,Swiggy,11,2018-06-21,"Supply chain, logistics, & delivery",Bengaluru,India,Asia,2014,$5B,"Accel India, SAIF Partners, Norwest Venture Pa...",2018,4,high,2,19,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
42,Weilong Foods,11,2021-05-08,Consumer & retail,Luohe,China,Asia,1999,$558M,"Tencent Holdings, Hillhouse Capital Management...",2021,22,high,2,9,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
43,Global Switch,11,2016-12-22,Hardware,London,United Kingdom,Europe,1998,$5B,"Aviation Industry Corporation of China, Essenc...",2016,18,high,3,43,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
44,Celonis,11,2018-06-26,Data management & analytics,Munich,Germany,Europe,2011,$1B,"Accel, 83North",2018,7,high,3,17,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
45,Zuoyebang,10,2018-07-18,Edtech,Beijing,China,Asia,2014,$3B,"Sequoia Capital China, Xiang He Capital, GGV C...",2018,4,high,2,9,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
46,Ripple,10,2019-12-20,Fintech,San Francisco,United States,North America,2012,$294M,"IDG Capital, Venture51, Lightspeed Venture Par...",2019,7,high,1,44,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
47,OYO Rooms,10,2018-09-25,Travel,Gurugram,India,Asia,2012,$3B,"SoftBank Group, Sequoia Capital India,Lightspe...",2018,6,high,2,19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
48,OutSystems,10,2018-06-05,Internet software & services,Boston,United States,North America,2001,$572M,"KKR, ES Ventures, North Bridge Growth Equity",2018,17,high,1,44,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
49,ServiceTitan,10,2018-11-14,Internet software & services,Glendale,United States,North America,2012,$1B,"Bessemer Venture Partners, ICONIQ Capital, Bat...",2018,6,high,1,44,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Consider using `pd.get_dummies` on the specified column. 
    
</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

When you call `pd.get_dummies()` on a specified series, it will return a dataframe consisting of each possible category contained in the series represented as its own binary column. You'll then have to combine this new dataframe of binary columns with the existing `companies` dataframe.
    
</details>

<details>
  <summary><h4><strong>Hint 3</strong></h4></summary>

You can use `pd.concat([col_a, col_b])` to combine the two dataframes. Remember to specify the correct axis of concatenation and to reassign the result back to the `companies` dataframe.
    
</details>

**Question: Which categorical encoding approach did you use for each variable? Why?**

* `Continent` - Ordinal label encoding was used because there was a hierarchical order to the categories.
* `Country/Region` - Nominal label encoding was used because there was not a hierarchical order the categories.
* `Industry` - Dummy encoding was used because there were not many different categories represented and they were all equally important.

**Question: How does label encoding change the data?**

- Label encoding changes the data by assigning each category a unique number instead of a qualitative value.

**Question: What are the benefits of label encoding?**

- Label encoding is useful in machine learning models, because many types of machine learning require all variables to be of a numeric data type.

**Question: What are the disadvantages of label encoding?**

- Label encoding may make it more difficult to directly interpet what a column value represents. Further, it may introduce unintended relationships between the categorical data in a dataset.

## Conclusion

**What are some key takeaways that you learned during this lab?**

[Write your response here. Double-click (or enter) to edit.]

**Reference**

[Bhat, M.A. *Unicorn Companies*](https://www.kaggle.com/datasets/mysarahmadbhat/unicorn-companies)

**Congratulations!** You've completed this lab. However, you may not notice a green check mark next to this item on Coursera's platform. Please continue your progress regardless of the check mark. Just click on the "save" icon at the top of this notebook to ensure your work has been logged.